body {
    background-color: #f6f6f6;
    font-family: "sans-serif", "arial";
}

header {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    width: 100%;
    height: auto;
    position: fixed;
    top: 0;
    z-index: 1;

}

#header_row_one {
    background-color: #ffffff;
    color: #757575;
    height: auto;
}

#header_row_two {
    background-color: #f6f6f6;
    height: auto;
    border-bottom: 2px solid #757575;
    color: #757575;
    font-style: bold;
}

#header_row_two ul {
    margin-top: 15px;
    margin-bottom: 10px;
    text-align: center;
    width: 100%;

}

#header_row_two ul li {
    display: inline-block;
    font-size: 75%;
    width: 70px;
    height: 18px;
    padding-bottom: 3px;
    font-weight: 500;
    float: left;
    text-align: center;
}

#your_application {
    padding-top: .5em;
    margin-left: 20%;
}

#log_out {
    margin-left: 30%;
    background-color: #007fff;
    color: #ffffff;
    font-weight: bold;
    padding-top: .5em;
    border-radius: 5%;
}

header img {
    margin-top: 10px;
    margin-left: 75px;
    float: left;
}

header ul li {
    display: inline-block;
    font-size: 75%;
    width: 100px;
    height: 14px;
    padding-bottom: 3px;
    font-weight: 500;
    float: left;
    text-align: center;
}

footer {
    margin: 0px;
    padding: 0px;
    width: 100%;
    background-color: #f5f5f5;
    border-top: 2px solid #757575;

}

footer #img {
    margin: auto;
    text-align: center;
}

.responsive-image {
    max-width: 100%;
    display: block;
    height: auto;
}

#pageBackground {
    background-color: #f6f6f6;
    width: 100%;
    margin: 0px;
    padding: 0px;

}

#pageBackground > p {
    text-align: center;
    width: 1028px;
    margin: 100px auto 0px auto;
    padding: 0px;

}

#aplication {
    margin-top: 10px;

}

#appHeading {
    width: 1028px;
    height: 50px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin: auto;
}

#appHeading > p {
    text-align: center;
    width: 200px;
    float: left;
}

#appHeading > #title-logo {
    color: #298e43;
    float: left;
}

#appHeading > #title-emp-app {
    color: #298e43;
    float: right;
}

#tabs {
    margin: 0px auto;
    width: 1028px;
    min-height: 850px;
}

ul {
    display: inline-block;
}

ul li {
    display: inline-block;
}

ul li a {
    display: inline-block;
    width: 165px;
}

label.error {
    font-size: 0%;
    line-height: 0px;
}

input.error {
    background-color: #f9e6ae;
}

select.error {
    background-color: #f9e6ae;
}

.error_message {
    display: none;
    height: 35px;
    width: 50%;
    margin-left: 28%;
    font-size: 85%;
    color: #b71c1c;
    font-style: italic;
    font-weight: bold;
}

.left {
    width: 450px;
    float: left;
    margin: 10px;
    padding: 10px;
}

.left p {
    margin-top: 1em;
    font-size: 85%;
    font-style: italic;
}

.right {
    width: 450px;
    height: 495px;
    float: left;
    margin: 10px;
    padding: 10px;
}

.button {
    background-color: #007fff;
    color: #ffffff;
    border-radius: 5%;
    margin: 20px 0px 0px 100px;
}

h2,
h3 {
    color: #298e43;
}

.checkbox {
    margin-bottom: 10px;
    margin-left: 20px;
}

#email_address {
    width: 250px;
    height: 20px;
    margin-top: 1em;
    margin-left: 5px;
}

#start_date {
    width: 150px;
    height: 20px;
    margin-top: 1em;
    margin-left: 5px;
}

#first_name {
    width: 150px;
    height: 20px;
    margin-top: 1.5em;
    margin-left: 35px;
}

#last_name {
    width: 150px;
    height: 20px;
    margin-top: .25em;
    margin-left: 35px;
}

#address_one,
#address_two {
    width: 250px;
    height: 20px;
    margin-top: .25em;
    margin-left: 5px;
}

#city {
    width: 175px;
    height: 20px;
    margin-top: .25em;
    margin-left: 85px;
}

#state {
    width: 175px;
    height: 20px;
    margin-top: .25em;
    margin-left: 76px;
}

#zip {
    width: 175px;
    height: 20px;
    margin-top: .25em;
    margin-left: 45px;
}

#phone {
    width: 175px;
    height: 20px;
    margin-top: .25em;
    margin-left: 5px;
}

#ssn {
    width: 115px;
    height: 20px;
    margin-top: 2em;
    margin-left: 5px;
}

#birth_date {
    width: 175px;
    height: 20px;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 23px;
}

.page_instructions {
    clear: both;
    width: 70%;
    margin-left: 15%;
    color: #298e43;
    font-weight: 600;
}

#personal_form .button {
    width: 250px;
    height: 40px;
    margin-left: 350px;
}

.row {
    height: 20px;
    width: 950px;
    margin: .5em auto;
    display: inline-block;
}

.row .school {
    margin-left: 0px;
    font-weight: bold;
}

.row .school_city {
    margin-left: 150px;
    font-weight: bold;
}

.row .school_state {
    margin-left: 100px;
    font-weight: bold;
}

.row .date_started {
    margin-left: 35px;
    font-weight: bold;
}

#date_1_started {
    width: 125px;
    margin-left: .15em;
}

.row .date_ended {
    margin-left: 35px;
    font-weight: bold;
}

.row .grad_status {
    margin-left: 22px;
    font-weight: bold;
}

.row .school_input {
    width: 260px;
    margin-left: 0px;
}

.row .school_city_input {
    width: 127px;
    margin-left: .15em;
}

.row .school_state_input {
    width: 50px;
    margin-left: .15em;
}

.row .date_started_input {
    width: 125px;
    margin-left: .15em;
}



.row .date_ended_input {
    margin-left: .15em;
    width: 125px;
}

.row .grad_status_input {

    width: 125px;
    height: 25px;
    float: right;
    margin: 0px;
    margin-right: 75px;

}

#education_form h3 {
    clear: both;
    margin-top: 1em;
}

.skillBox {
    height: 200px;
    width: 235px;
    font-size: 90%;
    float: left;
}

.skillBox label {
    font-weight: bold;
    padding-bottom: 1em;
}

.skillBox .checkbox {
    margin-left: 0px;
}

#education_close {
    clear: both;
    width: 900px;
    margin: 0 auto;
}

#education_close p {
    margin-top: 0em;
    color: #298e43;
    font-weight: 600;
}

#education_close .button {
    width: 250px;
    height: 40px;
    margin-top: 0;
    margin-left: 35%;
}


#employment_form h3 {
    text-align: center;

}

#employment_form fieldset {
    width: 45%;
    height: 480px;
    margin-top: 1em;
    margin-right: 1.5%;
    margin-bottom: 1em;
    padding-top: .5em;
    float: left;
}

#employment_form legend {
    color: #007fff;
    font-weight: bold;
    font-size: 85%;
    margin-bottom: .5em;
}

#employment_form label {
    float: left;
    width: 12em;
    text-align: right;
    padding-top: .25em;
}

#employment_form label,
input,
select {
    font-size: 90%;
}

#employment_form input,
select {
    width: 15em;
    margin-left: .5em;
    margin-bottom: .5em;
}

#employment_form br {
    clear: both;
}

#employment_form input[type=date] {
    margin: .25em 0em .25em .35em;
}

#employment_form .page_instructions {
    color: #298e43;
    font-weight: 600;
    text-align: left;
    margin-left: 20%;
    width: 60%;
}

#employment_form input[type=button] {
    width: 200px;
    height: 40px;
    margin-left: 38%;
}


.additional_employer {
    display: none;
}

.display_employer {
    display: inherit;
}

#employment_form #more_employers {
    margin: 1em 0em 2em 0em;
    width: 30px;
}


#military_screen label {
    float: left;
    margin-top: .15em;
    margin-right: 0px;
    padding: 0;
}

#military_screen select {
    float: left;
    margin-top: 0em;
    margin-left: 15px;
    width: 8em;
}

#military_screen label.no_military {
    width: 8em;
    height: 1.5em;
    text-align: center;
    margin-left: 50px;
    font-size: 85%;
    font-style: italic;
    font-weight: bold;
    color: #b71c1c;
}


#armed_forces {
    float: left;
    width: 40%;
    height: 185px;
    margin-top: 1em;
    margin-right: 0%;
    margin-bottom: 1em;
    margin-left: 0em;
    padding-top: .5em;

}

#discharge {
    float: left;
}

#discharge_explanation {
    margin-top: 1.5em;
    float: left;
    width: 400px;
    height: 85px;
    padding: 2em;
}

#armed_forces legend {
    color: #007fff;
    font-weight: bold;
    font-size: 115%;
    margin-bottom: 1em;

}

#armed_forces label {
    float: left;
    width: 12em;
    height: auto;
    text-align: right;
    padding-top: .25em;
    margin-left: 0;
    font-size: 90%;
}

#armed_foces label,
input,
select {
    font-size: 90%;
}

#armed_foces input,
select {
    float: left;
    width: 8em;
    height: 1.5em;
    margin-left: .5em;
    margin-bottom: .5em;
}

#armed_foces br {
    clear: both;
}

#armed_forces input[type="date"] {
    width: 8em;
    float: left;
}

#armed_forces label[for="military"] {
    width: 12em;
    margin-top: 0em;
}

#armed_forces select[name="military"] {
    width: 8em;
    margin-top: 0;
    margin-bottom: 0em;
    float: left;
}

#armed_forces label[for="branch"] {
    width: 12em;
    margin-top: 0em;
    margin-bottom: 0em;
}

#armed_forces select[name="branch"] {
    width: 8em;
    margin-top: 0;
    float: left;
}

#armed_forces label[for="discharge"] {
    width: 12em;
    margin-top: 0.5em;
}

#armed_forces select[name="discharge"] {
    width: 8em;
    margin-top: 0em;
    float: left;
}

#armed_forces input[name="military_start_date"] {
    height: 1.25em;
    width: 8.75em;
    font-size: 90%;
    margin-top: 0;
    margin-bottom: 0em;
    margin-left: .5em;
}

#armed_forces label[for="military_start_date"] {
    margin-top: .5em;
}

#armed_forces input[name="military_end_date"] {
    height: 1.25em;
    width: 8.75em;
    font-size: 90%;
    margin-top: 0em;
    margin-bottom: .0em;
    margin-left: .5em;
}

#armed_forces label[for="military_end_date"] {
    margin-top: 1.25em;
}


#discharge_other {
    margin-left: 193px;
}

#discharge label {
    font-size: 90%;
    margin-top: 1em;
    margin-bottom: 1em;
}

.professional_reference {
    width: 31%;
    margin: 1em .1%;
    padding: .5em;
    float: left;
}

.professional_reference legend {
    color: #007fff;
    font-weight: bold;
    font-size: 85%;
    margin-bottom: .5em;
}

.professional_reference label {
    width: 6em;
    font-size: 75%;
    margin-top: .2em;
    text-align: right;
    float: left;
}

.professional_reference label,
input,
select {
    font-size: 90%;
}

.professional_reference input,
select {
    width: 12em;
    margin-top: 0em;
    margin-left: 0.5em;
    margin-bottom: .5em;
    float: left;
}

.professional_reference br {
    clear: both;
}

.professional_reference #first_name {
    width: 10em;
    height: 1.25em;
    text-align: left;
    margin: 0;
}

#background_close {
    clear: both;
    width: 900px;
    margin: 0 auto;
}

#background_close p {
    margin-top: 0em;
    color: #298e43;
    font-weight: 600;
}

#background_close .button {
    width: 250px;
    height: 40px;
    margin-top: 0;
    margin-left: 35%;
}

#criminal_explanation {
    height: 100px;
    width: 70%;
    margin-left: 0%;
    padding-left: 5px;
    font-size: 85%;
}

#signature_block label {
    font-weight: bold;
}

#signature_block p {
    padding-top: 0;
    margin-top: 0;
    font-size: 80%;
}

#application_close .button {
    width: 250px;
    height: 40px;
    margin-top: 0;
    margin-left: 35%;
}

#crime_screen label {
    float: left;
    margin-top: .15em;
    margin-right: 0px;
    padding: 0;
}

#crime_screen select {
    float: left;
    margin-top: 0em;
    margin-left: 15px;
    width: 8em;
}

#crime_screen label.no_felony_selection {
    width: 8em;
    height: 1.5em;
    text-align: center;
    margin-left: 50px;
    font-size: 85%;
    font-style: italic;
    font-weight: bold;
    color: #b71c1c;
}

body > div.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons.ui-draggable.ui-resizable > div.ui-dialog-titlebar.ui-corner-all.ui-widget-header.ui-helper-clearfix.ui-draggable-handle {
    background-image: none;
    background-position: center;
    background-repeat: no-repeat;
    background-color: #ffffff;
    color: #ffffff;
    text-align: center;
    height: 30px;
    font-size: 100%;
    margin: .5em auto;
    width: auto;
    height: 30px;
    margin-top: 5px;
    border: 1px solid #ffffff;
    border-radius: 5%;
}

body > div.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons.ui-draggable.ui-resizable > div.ui-dialog-titlebar.ui-corner-all.ui-widget-header.ui-helper-clearfix.ui-draggable-handle {
    background-color: #ffffff;

}

#dialog2 {
    display: none;
    background-color: #ffffff;
    color: #757575;
    font-size: 100%;

}

body > div.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons.ui-draggable.ui-resizable {
    border-radius: 2%;
    background-color: #f6f6f6;
    border: 2px solid #757575;
}

body > div.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons.ui-draggable.ui-resizable > div.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix > div {
    margin-right: 105px;

}

body > div.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons.ui-draggable.ui-resizable > div.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix > div > button:nth-child(2) {
    background-color: #b71c1c;
    color: white;
    border-radius: 5%;

}

body > div.ui-dialog.ui-corner-all.ui-widget.ui-widget-content.ui-front.ui-dialog-buttons.ui-draggable.ui-resizable > div.ui-dialog-buttonpane.ui-widget-content.ui-helper-clearfix > div > button:nth-child(1) {
    background-color: #298e43;
    color: white;
    border-radius: 5%;

}

#dialog1 {
    display: none;
    background-color: #ffffff;
    color: #757575;
    font-size: 100%;

}
